@charset "UTF-8";
/* CSS Document */

.container{
	height: 36rem;
	width: 36rem;
	color: #ffffff;
	box-shadow: 4px 4px 2px #C1CACE;
	border: 1px solid #C1CACE;
	margin-top: 5rem;
}

.image{
	margin:7rem;
	margin-top: 6rem;
}

p{
	color:#000000;
	text-align: center;
	margin: 1rem;
}